html
  header.navbar-fixed-top
    nav
        ul
            li
                a(href='/') Home
            li
                a(href='/aboutme') About Me
            li
                a(href='/contact') Contact me
            li
                a(href='/projects') Projects
            li
                a(href='/services') Experiences

// Simranjot kaur  200396815  COMP2068
// This is the header page which will be at the top of every page.