extends layout

block content
  h1= title
  p Welcome to #{title}
  p
  h1 Introduction
  p  Hello Everyone my name is Simranjot Kaur and I am a computer analyst student . This is my fourth semester going on and truely I am enjoying learning computer languages.  My journey of becoming computer programmer started in 2018 when I decided to go for programming field after completing my higher studies. In the starting i faced many problems as to learn the programming but with the passing of time i learned it.
  ul
  b Impossible says i am possible.
  p With the above motivation i really worked hard in learning the programming. In this world nothing is impossible if you work hard and focus on your goals definately you will achieve success. 
 
