extends layout

block content
  h1= title
  p Welcome to #{title}
  p You can contact me via any of the following. I usually respond within 2-3 hours.
     ul
        li cell phone - +17053330468
        li email - <a href=>simranj141198@gmail.com</a>
        li linkedin - <a href=>http://wwwlinkedin.com/in/simranjot-kaur-kandhola-772540165</a>
        li Instagram - 2022simran_s

