extends layout

block content
  h1= title
  p Welcome to #{title}
  p As I already mentioned that I am a student and still learning lots of languages and making sites with help of different languages.I had made a site in php in I had made alots of sites as lab or exam.
   ul
      li Created web sites as a project in class with different ideas  
      li Used database management, CSS, Php and Java 
