extends layout

block content
  h1= title
  p Welcome to #{title}
  p As I a computer student so it is common that I had worked in computer field but apart from that I have other experiences. So I will share my experiences with you and my duties over there.
  b Fat Bastard Burrito
  p I was working as a team member at a restaurant at Fat Bastard Burrito which is located at bayfield street in Barrie.

  b It technician at Computer host
  p
   ul
      li Assess functionality of electronic equipment and components using provided tools and diagnostic software.
      li Provide technical support and troubleshoot the problems.
      li Assemble disassemble or refurbish computers - conduct repairs when economically justified.
      li Update Customer logs in System. Manage and update company website to follow company rules.
      li Assist with other departmental tasks as the need requires (FedEx and DHL)